= form_for [:admin, @restaurant, @zone], class:"row s12" do |f|
  = render 'partials/admin/form_errors', object: @zone
  .input-field
    = f.label :address, "Dirección"
    = f.text_field :address, placeholder: "Ingrese una dirección" , class: "form-control"
  .input-field
    = f.label :schedule, "Horario"
    = f.text_field :schedule, placeholder: "Ingrese un horario" , class: "form-control"
  .input-field
    = f.select :city_id, options_from_collection_for_select(@cities, 'id', 'name'), prompt: "Selecciona una ciudad"
  .input-field
    =  f.submit "Guardar", class:"btn btn-primary indigo darken-3"
