= form_for [:admin, @restaurant], multipart: true, class:"row s12" do |f|
  = render 'partials/admin/form_errors', object: @restaurant
  .input-field
    = f.label :name, "Nombre"
    = f.text_field :name, placeholder: "Ingrese su nombre" , class: "form-control"
  .input-field.file-field
    .btn.indigo.darken-3
      %span Imagen
      = f.file_field :image
    .file-path-wrapper
      %input{class: "file-path validate", type: "text"}
  .input-field
    = f.label :stars, "Estrellas"
    = f.number_field :stars, placeholder: "Numero de estrellas" , class: "form-control"
  .input-field
    =  f.submit "Guardar", class:"btn btn-primary indigo darken-3"
