.row.mt-1
  .col-xs
    %h2
      Restaurantes
    %table.table
      %thead.thead-default
        %tr
          %th
            Id
          %th
            Nombre
          %th
            Imagen
          %th
            Estrellas
          %th
            Zonas
          %th
            Acciones
      %tbody
        - @restaurants.each do |restaurant|
          %tr
            %td
              = restaurant.id
            %td
              = restaurant.name
            %td
              = image_tag restaurant.image.url, height: 120
            %td
              = restaurant.stars
            %td
              = restaurant.zones.count
            %td
              =link_to 'Ver',admin_restaurant_path(restaurant), class: "btn"
              =link_to 'Añadir Zonas',new_admin_restaurant_zone_path(restaurant), class: "btn"
              =link_to 'Editar',edit_admin_restaurant_path(restaurant), class: "btn"
              =link_to 'Borrar',admin_restaurant_path(restaurant), class: "btn", method: :delete, data: {confirm: "Estas seguro?"}
    -# .text-xs-center
    -#   = paginate @posts
.row.mt-1
  =link_to "Nuevo Restaurante",new_admin_restaurant_path(), class: "btn indigo darken-3"
